form {
  margin-left: 20px;
  width: 100%;
  margin-right: 20px;
}
.facts_sections {
  width: 100%;
}
.facts_one_frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.facts_one_section {
  /* border: 2px solid blue; */
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%);
  background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  padding: 18px;
  margin-right: 50px;
  flex-grow: 1;
}

.facts_one_section_ver {
  /* border: 2px solid blue; */
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%);
  background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  padding: 18px;
  margin-top: 10px;
}
.facts_one_section_ver h2 {
  display: inline;
  left: 0;
  margin-left: -130px;
}
.facts_two_section {
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%);
  background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  padding: 18px;
  flex-grow: 1;
}
/* form */
.field {
  clear: both;
  text-align: right;
  line-height: 25px;
}
label {
  float: left;
  padding-right: 50px;
  padding-bottom: 20px;
}
.field p {
  padding-right: 43%;
}
.field a {
  display: block;
  margin-right: 50%;
}
input,
select,
option {
  width: 50%;
}
.facts_three_section {
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%);
  background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  padding: 18px;
  margin-top: 20px;
  width: 50%;
}
.facts_four_section {
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to right, #bfe2ff 100%, #bfe2ff 100%),
    linear-gradient(to bottom, #bfe2ff 100%, #bfe2ff 100%);
  background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  padding: 18px;
  margin-top: 20px;
  width: 100%;
}

.obs {
  float: right;
  clear: both;
  border: none;
  text-align: right;
}
fieldset {
  display: inline;
  border: 0 none;
  padding: 0 0 0 0;
  width: 50%;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}
.rad {
  display: inline;
}
/* table */
table {
  width: 100%;
}
th {
  background-color: rgb(255, 255, 255);
}
.map_button {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 2px solid blue;
  cursor: pointer;
  color: rebeccapurple;
}

input[type="text"],
input[type="password"],
select,
input[type="date"],
input[type="number"] {
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus,
input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 150px;
}
input[type="submit"] {
  width: 50%;
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 0px;
  cursor: pointer;
}
.buttons {
  width: 50%;
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 13px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 0px;
  text-decoration: none;
  cursor: pointer;
}
.button_table{
  text-decoration: none;
  border: 1px solid #3f51b5;
  padding: 6px;
  background-color: #3f51b5;
  color: white;
  border-radius: 10%;
}
